/* bgcolor #FFFFFF */
/* dark-bg-color #2F303A */
/* secondary bgcolor #F5F4FA */
/* main text color #757575 */
/* accent color #2196F3 */
/* secondary-accent-color #188CE8 */
/* tertiary-text-color #ffffff */
/* secondary text color #212121 */
/* black-text-color #000000 */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #ffffff;
  --black-text-color: #000000;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --main-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --icons-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transform-duration: 250ms;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
}
button {
  cursor: pointer;
  line-height: 1.62;
}
ul,
li,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
/* -------------------------Template to delete markers in lists ------------------------*/
.list {
  list-style: none;
}
/* -------------------------Link template ------------------------*/
.link {
  text-decoration: none;
}
/* -------------------------Container template ------------------------*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid #188ce8; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);

  margin-bottom: 50px;
}
.thumb {
  max-width: 270px;
  height: 120px;
  background: var(--secondary-bg-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* -------------------------Visually hidden template ------------------------*/
.vis-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* -------------------------Header ------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: var(--main-bg-color);
}
.header .main-nav {
  display: flex;
  align-items: center;
}
/* ----------------------Nav----------------------------- */
.navigation {
  display: flex;
  align-items: center;
}
/* -------------------------Logo-------------------------*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-color-1 {
  color: var(--accent-color);
}
.logo-color-2 {
  color: var(--black-text-color);
}
.logo-color-3 {
  color: var(--tertiary-text-color);
}
/* -------------------------Site-nav ------------------------*/
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color var(--transform-duration) var(--time-function);
}
.site-nav .link:hover,
.site-nav .link:focus,
.link.current {
  color: var(--accent-color);
}
.link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 100%;
  height: 5px;

  margin-bottom: -1px;
}
/* -------------------------Contacts------------------------*/
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts > .contact-item + .contact-item {
  margin-left: 50px;
}
.contacts .contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  fill: currentColor;

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transform-duration) var(--time-function);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-icon {
  margin-right: 10px;
}
/* ------------------Main--------------------- */
/* -------------------------Hero ------------------------*/
.hero {
  background-color: #c4c4c4;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);

  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);

  border-color: transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 32px;
  transition: background-color var(--transform-duration) var(--time-function),
    box-shadow var(--transform-duration) var(--time-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* -------------------------Features ------------------------*/
.features > .list {
  display: flex;
}
.features > .item {
  width: calc((100%-90px) / 4);
  /* flex-basis: calc((100%-90px)/4); */
}
.features > .item:not(:last-child) {
  margin-right: 30px;
}
.features .title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}
.features .text {
  line-height: 1.71;
}
/* --------------------- Ocupation----------------*/
.section.ocupation {
  padding-top: 0;
}
.ocupation.list {
  display: flex;
}
.ocupation-item {
  width: calc((100% - 60px) / 3);
  position: relative;
}
.ocupation-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.ocupation-text {
  display: block;
  margin: 27px auto;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}
/* ---------To remove gap from img inline property -----------*/
.ocupation img {
  display: block;
}
.ocupation li:not(:last-child) {
  margin-right: 30px;
}

/* -------------------------Team ------------------------*/
.team.section {
  background-color: var(--secondary-bg-color);
}
.team.list {
  display: flex;
}
.team-card img {
  display: block;
}
.team-card {
  width: calc((100% - 90px) / 4);
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card:not(:last-child) {
  margin-right: 30px;
}
.team-member {
  padding: 30px 32px;
}
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}
.team .position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.member-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.member-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons-color);
  fill: currentColor;
  transition: color var(--transform-duration) var(--time-function),
    background-color var(--transform-duration) var(--time-function);
}
.member-soc-link:hover,
.member-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
}
/* --------------------------Clients-------------------------------- */
.logo-list {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
}
.logo-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
  fill: currentColor;
  transition: border-color var(--transform-duration) var(--time-function),
    color var(--transform-duration) var(--time-function);
}
.logo-link:hover,
.logo-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
/* -------------------------Footer ------------------------*/
.footer {
  background-color: var(--dark-bg-color);

  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.address {
  font-style: normal;

  margin-top: 20px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address {
  line-height: 1.71;
  color: var(--tertiary-text-color);
  transition: color var(--transform-duration) var(--time-function);
}
.footer-contact {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transform-duration) var(--time-function);
}
.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
.footer-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  margin-bottom: 20px;
}
.footer-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--tertiary-text-color);
  fill: currentColor;
  transition: background-color var(--transform-duration) var(--time-function);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
.footer-form {
  display: flex;
}
.mailing-input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  padding-left: 16px;
}
.mailing-input:focus {
  background-color: #ffffff;
  outline: transparent;
}
.mailing-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.form-button {
  padding: 10px 28px;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: transparent;
  color: var(--tertiary-text-color);
  fill: currentColor;
  display: flex;
  align-items: center;
  transition: background-color var(--transform-duration) var(--time-function),
    box-shadow var(--transform-duration) var(--time-function);
}
.form-button-icon {
  margin-left: 10px;
}
.form-button:hover,
.form-button:focus {
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -------------------------Portfolio page ------------------------*/
.section.portfolio {
  margin-top: 80px;
}
.list.button-list {
  margin-bottom: 50px;
  text-align: center;
}
.button-list > li {
  display: inline-block;
}
.button-item:not(last-child) {
  margin-right: 8px;
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);

  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  transition: color var(--transform-duration) var(--time-function),
    background-color var(--transform-duration) var(--time-function),
    box-shadow var(--transform-duration) var(--time-function);
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button.current {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.portfolio.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-item {
  width: 370px;
  transition: box-shadow var(--transform-duration) var(--time-function);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio li:nth-child(n + 7) {
  margin-bottom: 0;
}
.portfolio img {
  display: block;
}
.image-combo {
  position: relative;
  overflow: hidden;
}
.image-description {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition: transform var(--transform-duration) var(--time-function);
}

.portfolio-link:hover .image-description,
.portfolio-link:focus .image-description {
  transform: translateY(-100%);
}
.image-description-text {
  margin: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--tertiary-text-color);
}
.portfolio-item .description {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.portfolio .type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: opacity var(--transform-duration) var(--time-function);

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transform-duration) var(--time-function);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--tertiary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: currentColor;
}
.close-button:hover,
.close-button:focus {
  color: var(--accent-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  margin-bottom: 12px;
}
.form-field {
  width: 100%;
  margin-bottom: 10px;
}
.form-field:last-of-type {
  margin-bottom: 20px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.input-wrap {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: color var(--transform-duration) var(--time-function),
    border-color var(--transform-duration) var(--time-function);
}
.modal-form-input:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}
.modal-input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill var(--transform-duration) var(--time-function);
}
.modal-form-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}
.form-user-comment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: color var(--transform-duration) var(--time-function),
    border-color var(--transform-duration) var(--time-function);
}
.form-user-comment:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}
.form-user-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox {
  margin-right: 8px;
}
.modal-checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.modal-checkbox-link {
  text-decoration: underline;
  color: var(--accent-color);
  margin-left: 4px;
}
.modal-form-button {
  padding: 10px 52px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--transform-duration) var(--time-function),
    box-shadow var(--transform-duration) var(--time-function);
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.policy-checkbox {
  display: inline-block;
}
.policy-icon {
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
    background-size: contain;
      background-repeat: no-repeat;
  fill: transparent;
  border: 2px solid var(--secondary-text-color);
  border-radius: 4px;
  margin-right: 8px;
  transition: background-color var(--transform-duration) var(--time-function),
  border-color var(--transform-duration) var(--time-function),
  fill var(--transform-duration) var(--time-function);
}

.policy-checkbox:checked + .policy-icon {
  fill: var(--tertiary-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  outline: transparent;
}
.policy-checkbox:focus + .policy-icon {
border-color: var(--accent-color);
}