.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  @include flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $tertiary-text-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: currentColor;
  transition: color $transform-duration $time-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
