/* -------------------------Contacts------------------------*/
.contact {
    display: none;
    @media screen and (min-width:$mobile) {
    display: flex;
    margin-left: auto;
}
    &>.contact__item+.contact__item {
        margin-left: 50px;
    }
    &__icon {
            margin-right: 10px;
        }
    & .contact__link {
         @include font-box(500, null, 1.14, 0.02em);
         color: $primary-text-color;
         fill: currentColor;
    
         @include flex;
         padding-top: 32px;
         padding-bottom: 32px;
         transition: color $transform-duration $time-function;
    
         &:hover,
         &:focus {
             color: $accent-color;
         }
     }
}