.logo {
  font-family: "Raleway", sans-serif;
  @include font-box(700, 24px, 1.17);
  text-decoration: none;
  @include desktop {
    @include font-box(700, 26px, 1.19);
  }
  &--color-main {
    color: $accent-color;
  }
  &--color-dark {
    color: $black-text-color;
  }
  &--color-light {
    color: $tertiary-text-color;
  }
}
