.member-list {
    @media screen and (min-width:$tablet) {
        display: flex;
    }
    &__card {
        width: 100%;
        background-color: $main-bg-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;  
        @media screen and (max-width:calc($tablet - 1px)) {
            &:not(:last-child) {
                margin-bottom: 30px;
        }
        }
        @media screen and (min-width:$tablet) and (max-width: calc($desktop - 1px)) {
            display: flex;
            gap: 30px;
            flex-basis: calc((100% - 30px) / 2);
        }
        @media screen and (min-width:$desktop) {
            width: calc((100% - 90px) / 4);
            &:not(:last-child) {
                margin-right: 30px;
        }
            }
        }
    &__wrap {
        padding: 30px 32px;
        @media screen and (max-width:calc($desktop - 1px)) {
            padding-bottom: 24px;
        }
        }
    &__title {
        @include font-box(500, 16px, 1.19);
        text-align: center;
        color: $secondary-text-color;
        margin-bottom: 10px;
    }
    &__position {
        @include font-box(null, 16px, 1.19);
        text-align: center;
        margin-bottom: 16px;
    }
}