$primary-text-color: #757575;
$secondary-text-color: #212121;
$tertiary-text-color: #ffffff;
$black-text-color: #000000;
$accent-color: #2196f3;
$secondary-accent-color: #188ce8;
$main-bg-color: #ffffff;
$dark-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$icons-color: #afb1b8;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$transform-duration: 250ms;