/* -------------------------Features ------------------------*/
.pros-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    width: 100%;
    @include mobile {
      max-width: 450px;
    }
    @include tablet {
      width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 90px) / 4);
    }
  }
  &__title {
    margin-bottom: 10px;
    @include font-box(700, null, 1.14, null);
    text-transform: uppercase;
    color: $secondary-text-color;
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }
  &__text {
    line-height: 1.71;
  }
}
