/* -------------------------Footer ------------------------*/
.footer {
  background-color: $dark-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  &-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  &-title {
    @include font-box(700, null, 1.14);
    text-transform: uppercase;
    color: $tertiary-text-color;
    margin-bottom: 20px;
  }
  &-soc {
    @extend %flex;
    gap: 10px;
  }
  &-form {
    display: flex;
  }
}
.address {
  font-style: normal;
  margin-top: 20px;
  &-item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer-address {
  line-height: 1.71;
  color: $tertiary-text-color;
  transition: color $transform-duration $time-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-contact {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color $transform-duration $time-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.mailing-input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  padding-left: 16px;
  &:focus {
    background-color: $main-bg-color;
    outline: transparent;
  }
  &::placeholder {
    @include font-box(400, 16px, 1.25);
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.6);
  }
}
.form-button {
  padding: 10px 28px;
  fill: currentColor;
  @include flex;
  &-icon {
    margin-left: 10px;
  }
}
